<app-filtre-produits (filter)="rechercherParNom($event)" ></app-filtre-produits>
<div class="card-deck">
  <div class="col-4 d-flex align-items-stretch" *ngFor="let p of produitsFiltres">
  <div class="card mt-5">
    <div class="card-block">
      <h4 class="card-title">{{p.nom}} <span class='categorie'>({{p.categorie}})</span></h4> 
      <p class="card-text">Prix : {{p.prix}}€</p>
      <button [routerLink]="['detail', p.id]">Voir détails</button>
      <button (click)="onAddClick(p.id, p.nom, p.categorie, p.prix, p.taille)">Ajouter au panier</button>
    </div>
  </div> 
  </div> 
</div>
<div *ngIf="isEmpty" class="alert alert-primary">Aucun produit trouvé.</div>